@media (max-width: 1920px) and (min-width: 1440px) {
  .resume-container {
    background: var(--text-gray-900, #18191f);
    display: flex;
    padding: 80px 165px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
  }
}
