@media (max-width: 1920px) and (min-width: 1440px){
.app-container{
    display: flex;
    flex-direction: column;
    background-color:  #E9F2F5;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 165px;
    padding-right: 165px;
    
}
}