@media (max-width: 1920px) and (min-width: 1440px){
.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  #E9F2F5;
    padding-top: 24px;
    padding-bottom: 24px;
    
    
}
}